[[source]]
url = "https://registry.tcsbank.ru/repository/pypi-all/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.7"

[packages]
sanic = '>=0.7'
psycopg2 = '>=2.7.4'
orator = '>=0.9.7'
aiodns = '>=1.1.1'
aiohttp = '>=3.3.2'
t_gelf = '>=0.4.1'
gunicorn = '>=19.8'
qul = '==0.2'