<!DOCTYPE html>
<html>
    <body>

        <form action="http://127.0.0.15:5050/upload" method="post" enctype="multipart/form-data">
            Введите параметры для рассылки:<br>
              Integration name: <input type="text" name="integration_name"><br>
              Procedure name: <input type="text" name="procedure_name"><br>
              <input type="file" name="fileToUpload" id="fileToUpload"><br>
              <input type="submit" value="Начать рассылку" name="submit">
        </form>

    </body>
</html>